<!DOCTYPE html>
<html lang="en">
<head>
  <title>Matthew Jones</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
  <link href="/your-path-to-fontawesome/css/fontawesome.css" rel="stylesheet">
  <link href="/your-path-to-fontawesome/css/brands.css" rel="stylesheet">
  <link href="/your-path-to-fontawesome/css/solid.css" rel="stylesheet">

  <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Matthew Jones</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li id="home" class="nav-item">
        <a class="nav-link" href='/'>Home <span class="sr-only">(current)</span></a>
      </li>
      <li id="projects" class="nav-item">
        <a class="nav-link" href='/projects'>Projects</a>
      </li>
      <li id="contact" class="nav-item">
        <a class="nav-link" href='/contact'>Contact Me</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href='https://www.dropbox.com/s/trvlk5rickcns63/Resume.pdf?dl=0'>
          <span class="fa fa-file-text" style="display: inline-block;">&nbsp;&nbsp;</span>Resume
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href='https://github.com/MWJones96'>
          <span class="fa fa-github" style="display: inline-block;">&nbsp;&nbsp;</span>GitHub
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href='https://www.linkedin.com/in/mwjones96/'>
          <span class="fa fa-linkedin" style="display: inline-block;">&nbsp;&nbsp;</span>LinkedIn
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href='https://stackoverflow.com/users/12584129/mwjones96'>
          <span class="fa fa-stack-overflow" style="display: inline-block;">&nbsp;&nbsp;</span>StackOverflow
        </a>
      </li>
    </ul>
  </div>
</nav>

{{{body}}}

</body>
</html>
