<br>
<div style="text-align: center">
  <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12" style="display: inline-block">
    <div class="container-fluid bg-3 text-left">
       <h3 style="text-align: center">Contact Information</h3>
       <br><p>Please find my contact information below.<br><br>
           <strong>Email: </strong> jonesmat@usc.edu<br>
           <strong>Phone (US): </strong> (213) 631-8562<br>
           <strong>Phone (UK): </strong> 07914342019
       </p>
    </div>
  </div>
</div>

<script>
  $("document").ready(function() {
    $("#contact").addClass("active");
  });
</script>