<div class="jumbotron" style="background-color: #abd7eb; color: white;">
    <div class="container text-center" style="text-align: center">
        <h1>{{{quote}}}</h1>      
        <p>{{{author}}}</p>
    </div>
</div>

<div style="text-align: center">
  <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12" style="display: inline-block">
    <div class="container-fluid bg-3 text-left">
      My name is Matthew Jones, but you can call me Matt, I will allow it this time :) 
      <br><br>
      I am {{{matt_age_int}}} years old as you are reading this, or {{{matt_age}}} years to be exact (born 08/08/1996). I particularly 
      like how my date of birth is the same in both the little-endian (dd/mm/yyyy) and middle-endian (mm/dd/yyyy) date formats.
      It makes for easy viewing with both European and American readers.
      <br><br>
      I attended the University of Exeter from 2014 to 2018, studying an MEng in Electronic Engineering and Computer Science,
      and studied my Master's in Computer Science at the University of Southern California from 2018 to 2020.
    </div>
  </div>
</div>

<br><br>